*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

@font-face {
  font-family: 'shoaib';
  src: url("../fonts/steph-font.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'shoaib';
  src: url("../fonts/steph-font-bold.ttf");
  font-weight: bold; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'shoaib';
  box-sizing: border-box;
  font-size: 62.5%; }

.header {
  background-color: rgba(191, 214, 196, 0.9);
  height: 5.3rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(5px); }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 2rem 3rem; }
    .header__nav a {
      text-decoration: none;
      font-weight: bold;
      color: black; }
    .header__nav-lift a {
      font-size: 1.6rem;
      border: none; }
    .header__nav-right a {
      font-size: 1rem;
      margin-right: 1.5rem; }
      .header__nav-right a:active, .header__nav-right a:hover {
        color: aliceblue;
        transition: all .2s; }

.section__about {
  margin: 8rem auto;
  background-color: #fff;
  text-align: center; }
  .section__about-image {
    margin: 0rem auto;
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden; }
    .section__about-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .2s ease-out; }
    .section__about-image:hover img {
      transform: scale(1.2); }
  .section__about-text {
    font-size: 1.5rem;
    margin-top: 3rem;
    padding-left: 15rem;
    padding-right: 15rem; }
  .section__about-text-2 {
    font-size: 1.5rem;
    padding-left: 15rem;
    padding-right: 15rem; }
  .section__about-icons {
    margin-top: 2.5rem; }

.icon {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 2rem;
  fill: #3d744a;
  transition: all .2s ease-out; }
  .icon:hover {
    opacity: 0.7;
    transform: scale(1.3); }

.heading-3 {
  font-size: 3rem; }

.btn {
  border: none;
  margin-bottom: 2rem; }
  .btn::after {
    content: "";
    height: 4px;
    background-color: #bfd6c4;
    width: 6rem;
    border-radius: 2px;
    display: block; }

.project__section-heading {
  z-index: 100;
  font-size: 1.5rem; }

.btn-1 {
  border: none;
  margin-top: -1px; }
  .btn-1::after {
    content: "";
    height: 1px;
    background-color: black;
    width: 5rem;
    border-radius: 2px;
    display: block; }

.heading-4 {
  font-size: 1.3rem;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: .5rem;
  margin-bottom: .5rem; }

.heading-5 {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: .5rem;
  color: #1e1d1ddb; }

.list-p {
  font-size: 1rem;
  color: #413e3edb; }

.btn-2 {
  border: none;
  margin-top: -6px; }
  .btn-2::after {
    content: "";
    height: 1px;
    background-color: black;
    width: 3.5rem;
    border-radius: 2px;
    display: block; }

.project__section {
  margin-top: 15rem;
  text-align: center; }
  .project__section-heading {
    margin-bottom: -11px; }

.project__subsection {
  margin: 3rem 3rem;
  display: flex;
  justify-content: center; }
  .project__subsection-list {
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: all .2s; }
    .project__subsection-list:hover {
      transform: scale(1.1);
      cursor: pointer; }
    .project__subsection-list img {
      height: 12rem;
      width: 15rem;
      object-fit: cover;
      object-position: top;
      border-radius: 5px; }

.design__section {
  margin: 10rem auto;
  text-align: center; }

.design__subsection {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2rem;
  padding: 4rem;
  justify-content: center; }
  .design__subsection-list {
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: all .2s; }
    .design__subsection-list:hover {
      transform: scale(1.1);
      cursor: pointer; }
    .design__subsection-list img {
      height: 12rem;
      width: 15rem;
      object-fit: cover;
      object-position: top;
      border-radius: 5px; }

.skill__section {
  text-align: center;
  margin: 11rem 0; }
  .skill__section-icons {
    margin-top: 2.5rem; }

.message__section {
  margin-top: 18rem;
  text-align: center; }

p {
  font-size: 1.3rem;
  color: #413e3edb;
  overflow: hidden; }

.footer {
  margin-top: 8rem;
  height: 4rem;
  background-color: #413e3edb;
  padding-top: 1.5rem; }
  .footer__p {
    color: #fff;
    font-size: 1rem;
    text-transform: capitalize;
    text-align: center; }
